.container
  .row
    .col-md-5.col-md-offset-2
      %h4= "联系我们"
      %address
        %strong= "南京麻袋信息科技有限公司"
        %br
        = "南京市鼓楼区进香河路时代华府1117室"
        %br
        %abbr{title: "电话"}
          %i.fa.fa-phone
        025-85421161
      %address
        %strong= "赵聪"
        %span.label.label-default= "总经理"
        %br
        %abbr{title: "电话"}
          %i.fa.fa-phone
        18351950759
    .col-md-4
      %h4= "关注我们"
      .social-tools
        %wb:follow-button{uid:"2991975565", type:"red_2", width:"136", height:"24"}