---
title: 麻袋产品测试
date: 2013-12-01
author: 麻袋
tags:
- 公告
---
.block
	%h4= "测试内容与参与方式"
	%p= "从PCB状态变成有外壳的产品，还得先经历验证目前抗压性到底可不可靠的过程，所以需要好奇心强的小伙伴们帮忙测试状态的 Alpha 版，包括一双智能鞋垫，一只安卓APP，它俩的共同特点是 bug 多多，需要一个个发现除虫，帮助加速进入量产～"
	%p
		%strong= "我们会在"
	%table.table.table-striped
		%tbody
			%tr
				%td= '11月25日'
				%td= '开放内测规则介绍页面，接受报名'
			%tr
				%td= '11月28日晚22:00'
				%td= '麻袋官网：madaitech.com上免费发布安卓版APP炫动，小伙伴们可以一睹为快，希望使用过软件的小伙伴们能通过官网上的测评贴留言处给予我们反馈。亲，非常需要您的反馈哦~~'
			%tr
				%td= '12月5日'
				%td= '确定内测名单，接受 Alpha 测试机 可选择“天使支持”（付款50元）或“免费体验”的方式［具体说明详见后文］'
			%tr
				%td= '12月15日之前'
				%td= '发出全部测试机（包顺丰呀亲）'
			%tr
				%td= '12月25日'
				%td= '结束 Alpha 版本测试，梳理总结内测用户意见，做出改进'
.block
	%h4= "FAQ"
	%h5= "问1：参与了本次测试以后可以有什么样的好处呢？"
	%blockquote
		%p= "答：为了感恩超级天使用户们的大力支持，回馈小伙伴们，感谢这么早就加入产品的测试中～ 如果您大力支持身为正在创业的穷大学生的我们，付费80元购买并完成了本次测评要求后，将会成为“麻袋会员”，以后买我们所有产品都会有不错的折扣。并且当产品升级到 Beta版 可以免费以旧换新，升级到最终版也可以免费以旧换新，如果您对我们的产品感兴趣，选择免费预订的形式，那么我们也会拿出我们曾经通过各种途径挣来的钱，做出样品，提供您免费七天的试用，试用后，样品需要收回，但您作为我们的前期测试用户将会成为麻袋会员，以后享受我们优惠的折扣。"
	%h5= "问2：这次要测的东西长啥样？"
	%blockquote
		%p= "答：看下面的～这个 ALPHA 版，内置着这个智能芯片的鞋垫就是你会收到的东西了。"
	%h5= "问3：有啥硬性要求么？"
	%blockquote
		%p= "答：先确定你可以接受可能会因为各种坑爹情况诸如鞋子进水，抗压性不强被踩坏而出现问题的产品，然后看看自己有没有安卓2.2以上版本的设备，然后就是确定自个可以坚持用满 7 天的时间，并且做出测试回馈。"
	%h5= "问4：好呀，好呀，俺都有，那都要回馈个啥呢？"
	%blockquote
		%p= "答：三类回馈："
		%p= "一，评测文：用满 7 天后按自己思路写一篇心得，主要是关于硬件软件 bug 的发现，其次是产品概念，功能的感触，改进设想等等不限，但请务必注意这是非常非常非常非常早期版本，先集中精力在可行，接下来是可用和易用～"

		%p= "二，邮件：接着是我们设计的一些问卷发到您的邮箱里，问些针对性强的问题。"
		%p= "三，麻袋小组：最后就是在用的途中，发现的各种 bug，问题，感触啥的随时来这个测试贴所在的小组里吐槽吧～"
		%p= "最后，请将您个人请求发送至麻袋官方邮箱：madai_ltd@126.com（请求格式见下文）"
	%h5= "问5：了解了，那咱们就开始吧！"
	%blockquote
		%p= "答：首先，觉得以上都没问题后请回帖或发邮件报名吧；（您是俺们的超天使用户了，谢谢看到现在还没走O(∩_∩)O~~）"
		%p= "邮箱：madai_ltd@126.com "
		%p= "报名格式模板：(按照这个格式来写，把横线上的话替换成您自己的就可以啦O(∩_∩)O~~如果还有其他想跟麻袋小伙伴们说的也可以加上去哦~~~)"
		%p= "如果您是学校的小伙伴，格式如下："
		%p= "Hello麻袋小伙伴，我是东南大学赵聪（老赵），我选择“免费体验”的模式，等待麻袋三人组上门送货哦，我的手机号是：18351950345 我的地址是：东南大学四牌楼校区文昌12舍308。 我允许麻袋三人组在星期一、星期二、星期三、星期四、星期五、星期六、星期天 送货。"
		%p= "如果您是工作了的小伙伴，格式如下："
		%p= "Hello麻袋小伙伴，我是端和阳（老端），我选择“天使支持”的模式，等待麻袋三人组上门送货哦，我的手机号是：18351990278 我的地址是：南京市玄武区长江后街6号。我允许麻袋三人组在星期一、星期二、星期三、星期四、星期五、星期六、星期天 送货。"
		%p= "接着，俺们根据回帖先后次序确定名单；（这次批量很少，对于付费用户没排上的下次会优先给并且做出补偿。亲亲要不O(∩_∩)O~~）"
		%p= "之后，准备50元 人民币用于购买 ALPHA 测试机。为了让广大伙伴相信俺们创业大学生，麻袋三人组（老赵、老端、老刘）将会骑车亲自送货上门，货到付款哦亲~~~~~"
	%h5= "问6：好像还有点啥觉得没问到？"
	%blockquote
		%p= "答：俺也这么觉得，那就继续回帖问吧，流泪感激中！"
.block
	%a{:href => "/posts/2013/12/01/thanks.html"}
		= '想了解麻袋的故事吗，请点击这里'