---
pageable: true
---
- content_for :head do
  %link{:href => "/feed.xml", :rel => "alternate", :type => "application/atom+xml"}/

- content_for :title do
  = "麻袋官方博客"

.articles.col-md-9
  - page_articles.each_with_index do |article, i|
    - if i > 0
      %hr/
    = partial '/article', :locals => {:article => article, :digest => true}
  = partial '/pagination', :locals => { |
      :paginate => paginate,               |
      :next_page => next_page,             |
      :prev_page => prev_page,             |
      :num_pages => num_pages,             |
      :page_number => page_number          |
    }                                      |

%aside.aside.col-md-3
  %h3 标签
  %ul.tags
    - blog.tags.each do |tag, articles|
      %li= link_to tag, tag_path(tag), :class => 'tiny button secondary round'
  .divider
  %ul.no-bullet.media
    %li
      = link_to 'http://weibo.com/madaitech' do
        %i.icon-weibo
        = "@麻袋"
    %li
      = link_to 'https://twitter.com/madaitechhq' do
        %i.icon-twitter-sign
        = "@麻袋hq"
    %li
      = link_to 'https://www.facebook.com/madaitechhq' do
        %i.icon-facebook-sign
        = "@麻袋"
    %li
      = link_to 'https://github.com/madaitech' do
        %i.icon-github
        = "麻袋"
